<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FolderEmailSenderWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <FolderEmailSenderWatcher.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Persist Security Info=False;server=localhost;database=jmalvesdb;uid=root;server=localhost;database=jmalvesdb;uid=root;</value>
            </setting>
            <setting name="SMTPAddress" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="EnableSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PortNumber" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>pedro_pml87</value>
            </setting>
            <setting name="Body" serializeAs="String">
                <value>Hello, This is Email sending test using gmail.</value>
            </setting>
            <setting name="FromEmail" serializeAs="String">
                <value>psicologodeconas@gmail.com</value>
            </setting>
        </FolderEmailSenderWatcher.Properties.Settings>
    </userSettings>
</configuration>